<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link th:href="@{/styles/style.css}" rel="stylesheet" />
</head>
<body>
    <div>
        <h1>Menu in Index</h1>
        <a th:href="${'/'}">Homepage</a>
        <a th:href="${'/book/'}">Lista dei libri</a>
    </div>
    <div>
        <h1>Menu con th:insert="fragments/header</h1>
        <div th:insert="fragments/header :: block-header"></div>
    </div>
</body>
</html>